<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Otneve </title>
  <!-- Adicionando Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <%- include('navbar.ejs') %>

    <!-- Slide de Títulos -->
    <div class="slider-container">
      <% events.forEach((event, index)=> { %>
        <div class="slide <%= index === 0 ? 'active' : '' %>">
          <div class="slide-content">
            <h3 class="event-title">
              <%= event.title %>
            </h3>
            <p class="description">
              <%= event.description %>
            </p>
            <a href="/events/<%= event._id %>" class="signup-link">Inscreva-se</a>
          </div>
        </div>
        <% }) %>
    </div>

    <main>
     <!-- Seção Sobre Nós -->
<div class="sobre-nos">
  <h2 class="titulo-sobre-nos text-center">Sobre Nós</h2><br>
  <p class="text-center texto2">Por que nos escolher?</p>

  <div class="conteudo row justify-content-center align-items-center">
    <!-- Coluna para a imagem -->
    <div class="imagem col-md-4 mb-4 mb-md-0">
      <img src="/img/grupo.jpg" alt="Descrição da imagem" class="img-fluid imagem-sobre">
    </div>

    <!-- Coluna para o texto -->
    <div class="texto col-md-4 texto-sobre">
      <h3 class="nome-projeto">Otneve</h3>
      <p class="descricao">
        Nossa missão é proporcionar uma experiência de aprendizado única, com qualidade, acessibilidade e inovação.
        Contamos com uma equipe dedicada e experiente para garantir o sucesso de cada evento.
      </p>
      <p class="descricao">
        Oferecemos conteúdos atualizados e relevantes, com profissionais altamente qualificados em suas áreas de atuação.
        Cada evento é pensado para proporcionar o máximo de aprendizado prático e teórico.
      </p>

      <!-- Spans em retângulos pequenos -->
      <div class="spans-container d-flex justify-content-between mt-3">
        <span class="span-item">Eventos Online</span>
        <span class="span-item">Eventos Presenciais</span>
        <span class="span-item">Certificações</span>
      </div>
    </div>
  </div>
</div>




      <!-- Seção de Eventos -->
      <div class="events-section">
        <p class="text-center nossos-eventos">Mais Populares</p>
        <div class="container">
          <% for (let i=0; i < events.length; i +=3) { %>
            <div class="row">
              <% for (let j=i; j < i + 3 && j < events.length; j++) { %>
                <div class="col-md-4 mb-4">
                  <div class="card">
                    <img src="uploads/<%= events[j].coverImage %>" class="card-img-top" alt="Imagem de Capa do Evento">
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= events[j].title %>
                      </h5>
                      <p class="card-text"><strong>Tipo:</strong>
                        <%= events[j].type %>
                      </p>
                      <p class="card-text"><strong>Data:</strong>
                        <%= events[j].date.toLocaleDateString('pt-BR') %>
                      </p>
                      <a href="/events/<%= events[j]._id %>" class="btn btn-primary">Detalhes</a>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <p>&copy; 2024 Seu Site. Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </footer>

    <%- include('vlibras.ejs') %>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script>
        let currentSlide = 0;
        const slides = document.querySelectorAll('.slide');
        const totalSlides = slides.length;

        function showSlide(index) {
          slides[currentSlide].classList.remove('active');
          currentSlide = (index + totalSlides) % totalSlides;
          slides[currentSlide].classList.add('active');
        }

        // Função para trocar automaticamente os slides a cada 1 segundo
        setInterval(() => {
          showSlide(currentSlide + 1);
        }, 9000);

        // Iniciar o primeiro slide
        showSlide(currentSlide);

      </script>

</body>

</html>